<a href="/ideas">Back to ALL ideas</a>

<h3>Name: <%= @user.name %></h3>
<h3>Alias: <%= @user.alias %></h3>
<h3>Contact: <%= @user.email %></h3>

<p>Total Ideas: <%= @ideas.count %></p>
<p>Total Likes Received: <%= @likes_count %></p>
<p>Total Likes Given: <%= @likes.count %></p>
<p>Find me in app/views/users/show.html.erb</p>
